body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: rgb(255,255,255);
  background: linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(153,69,255,1) 1%, rgba(20,241,149,1) 100%); 
  animation: gradientBG 10s ease infinite;
  background-size: 350%;
  background-position: center;
  background-attachment: fixed;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.site-title {
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(98,0,218,1) 1%, rgba(0,211,123,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin-bottom: 2rem;
}

.token{
  width: 300px;
  box-shadow: 0 8px 16px rgba(5, 5, 5, 0.3);
  padding: 2px 16px;
  margin: 16px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.4);

  /*background: url();*/
}

img {
  border: 0.3px rgb(220, 220, 220);
  box-shadow: 10px 10px 8px rgba(#111111);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  margin-top: 10px;
}

.container-filled {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
}

.network-logo {
  -webkit-animation: spin 5s infinite;
  animation: spin 5s infinite;
  border: 1px solid #ffffff;
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spin {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}